@import "../main.scss";

div.containerContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div.containerCarres {
    display: grid;
    grid-template-columns: 80% 80%;
    gap: 20px;
    justify-content: center;
    align-items: center;

    div.carre iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: none;
    }

    div.carre,
    a.carre {
      @include display(flex, column, center, center);
      background-color: $colorPrimary;
      width: 100%;
      height: 170px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.69);
      transition: 0.4s;
      font-size: 1.6em;
      font-weight: 600;
      cursor: pointer;
      color: #000000;

      &:hover {
        background-color: $colorSecondary;
      }

      i {
        font-size: 2em;
      }

      &:hover {
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  div.containerContact {
    width: 100%;

    div.containerCarres {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  div.containerContact {
    width: 100%;

    div.containerCarres {
      display: grid;
      grid-template-columns: 100%;
    }
  }
}
