@import '../main.scss';

div.containerSkills {
    display: grid;
    grid-template-columns: 25% 25%;
    gap: 20px;
    padding: 40px 0;
    justify-content: center;

    div.iconSkills {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img.iconSkills {
            width: 50px;
            transition: .3s;
        }

        img.iconSkills:hover {
            transform: translateY(-5px);
        }
    }

    div.concept {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1200px) {
    div.containerSkills {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 480px) {
    div.containerSkills {
        grid-template-columns: auto;
        justify-content: normal;

        div.boxSkills {
            width: 100%;
            height: auto;
        }
    }
}